.search{
    border: solid 1px rgb(164, 164, 164);
    border-radius: 5px;
}

.search:hover{
    border: solid 1px gold;
}

.Search > .Mui-focused{
    border: solid 1.5px gold;
}

.glass{
    color: #707A8A;
}

.css-1kcggdq-MuiInputBase-root{
    width: 50ch;
}

@media all and (max-width: 500px){

    .css-1kcggdq-MuiInputBase-root{
        width: 30ch;
    }
}