@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

.addProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:25px;
    margin-top: 150px;
    margin-bottom: 40px;

}

.us-text{
    position: relative;
    z-index: 10;
    animation: textcolor1 5s infinite;
    font-size: 100px;
    font-family: 'Mouse Memoirs', sans-serif;
}

@keyframes textcolor1 {
    20%{color: blueviolet;}
    40%{color:rgb(0, 184, 0)}
    50%{transform: scale(1.2, 1.2);}
    35%{transform: rotate(3deg);}
    70%{transform: rotate(-3deg);}
    60%{color: aqua;}
    80%{color: yellow;}
}
