.back{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    background-image: url("../../image/game.png");
    background-size: cover;
}

.home{
    background: linear-gradient(170deg, rgba(255, 255, 255, 0.8) 18.98%, rgb(255, 255, 255) 70.62%);
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    inset: 0px;
}

.swiper {
    width: 588px;
    height: 331px;
    padding: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.home__main{
    height: 420px;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 0;
    display: flex;
    position: relative;
    max-width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.home__main_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home__main_left > h2{
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    display: -webkit-box;
    overflow: hidden;
    padding-bottom: 24px;
}

.left__text{
    min-width: 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgb(71, 77, 87);
    max-width: 470px;
    margin-bottom: 24px;
}

.home__main_left > button{
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 12px 44px;
    line-height: 24px;
    min-width: 80px;
    word-break: keep-all;
    color: rgb(24, 26, 32);
    border-radius: 4px;
    min-height: 24px;
    border: none;
    background-image: none;
    background-color: rgb(252, 213, 53);
}

.home__main_right{

}