@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter:wght@600&display=swap");

footer {
  width: 100%;
  background: #2c2727;
  /*margin-top: 50px;*/
}

.footer-list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
}

.footer-list-item-number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-text-nf {
  display: flex;
}

.text-nft {
  margin-left: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
.img-topbs {
  width: 225px;
  height: 195px;
}

.text-nft {
  display: flex;
}
.footer-list-item-number > span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.footer-list-item-number > a {
  margin-top: 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none;
  color: rgba(249, 249, 249, 0.32);
}

.contactts {
  color: rgba(249, 249, 249, 0.32);
}

.footer-list-item-number > a:hover {
  color: #050504;
}

.footer-color > hr {
  background: #050504;
  opacity: 0.1;
  border: 1px solid #050504 !important;
}

.footer-color {
  background-color: #2e2e2e;
}

.footer-list-down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
  background-color: #f5f5f5;
}

.img-icons {
  fill: #050504;
}

.footer-list-down > span {
  font-family: "Inter";
  font-size: 14px;
  line-height: 14px;
  color: #8f8f8f;
}

.footer-list-down-logo > a {
  margin-top: auto;
  font-size: 30px;
}

/* 
.footer-list-item-number > img {
  width: 42px;
  height: 42px;
  font-size: 40px;
} */

@media all and (max-width: 800px) {
  .img-binance {
    display: none;
  }
  .text-nft {
    display: none;
  }
  .footer-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .footer-list-item-number {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
}
