.accordion1 {
  column-gap: 62px;
  margin: 40px 140px 50px;
}
@media all and (max-width: 800px) {
  .accordion1 {
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 500px) {
  .accordion1 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
